@media screen and (max-width:767px) {
    .left{
        display: none !important;
    }
}

.container {
    /* background-color: orange; */
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .content {
    display: flex;
    flex-direction: column;

  }