@media screen and (max-width:767px) {
    .left {
        display: none !important;
    }
}

@media screen and (max-width:767px) {
    .left {
        display: none !important;
    }
}

.popcontainer {
    height: 50%;
    width: 30%;
    position: absolute;
    top: 15%;
    left: 40%;
    background-color: '#fff';
}
